BOT_TOKEN=

ADMIN_USERNAME=admin
ADMIN_PASSWORD=
ADMIN_SECRET_KEY=
ADMIN_PORT=8080

IS_DEBUG=true
POSTGRES_DB=tarot
POSTGRES_USER=tarot
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
EXPIRE=3600

LOG_LEVEL=INFO
